<h1>pollapick</h1>
	<br>
	<h3>Make a new poll for people <br>to vote on (it's easy):</h3><br>
	<%= link_to "poll", new_poll_path, class: "btn btn-primary btn-lg" %><br><br>
	<h3>Cast your vote on other people's<br> polls (also easy):</h3><br>
	<%= link_to "pick", polls_path, class: "btn btn-primary btn-lg" %>



