<br>
<br>
<br>
<br>
<br>
<br>
<%= form_tag tag_path, method: :get do %>
  <h3>
  	Search by Tag:
  	<%= text_field_tag :tag, nil, :class => "form-field-search" %>
  </h3>
<% end %>
<% @polls.each do |poll| %>
  <div class="poll-container poll-<%= poll.id %>">
    <%= render 'shared/poll', :poll => poll %>
  </div>
<% end %>
