<p id="notice"><%= notice %></p>

<h2>Here's your poll:</h2>
<% @poll %>

<img src="/assets/underconstruction.gif", alt="under construction" />

<br>
<br>
<%= link_to 'Back', polls_path, :class => "btn btn-primary" %>
