@font-face {
        font-family: 'Harabara';
        src: font-url('Harabara.otf') format("truetype");
    }

html {  
  font-family: Helvetica Neue;
  font-size: 8px;
  background-color: #EBEBEB;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  color: #091333;
}

body {
  margin: 0;
  text-align: center;
}

textarea {
    resize: none;
}

a {
  font-family: "Harabara";
  text-decoration: none;
  color: #EBEBEB;
}

h1 {
  font-size: 50px;
  margin-bottom: 0px;
  font-weight: 100;
}

h2 {
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 40px;
  font-weight: 100;
}

h3 {
  margin-top: 10px;
  margin-bottom: 15px;
  font-size: 25px;
  font-weight: 200;
}

h4 {
  margin-top: 10px;
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: 200;
}

table {
  margin-left:auto; 
  margin-right:auto;
  width: 100%;
  border: 1px solid #091333;
  border-radius: 5px;
}

th, td {
  padding: 0px;
}

.form {
  max-width: 700px;
  margin-left:auto; 
  margin-right:auto;
  text-align: center;
  margin-top: 30px;
  padding: 5px;
  border: 2px solid #091333;
  border-radius: 12px;
}

.form-field {
  margin-left:auto; 
  margin-right:auto;
  margin-bottom: 2px;
  width: 99%;
  height: 100%;
  border: 1px solid #091333;
  background-color: #EBEBEB;
  border-radius: 12px;
  font-size: 20px;
}

.form-field-search {
  margin-left:auto; 
  margin-right:auto;
  margin-bottom: 2px;
  width: 250px;
  height: 30px;
  border: 1px solid #091333;
  background-color: #EBEBEB;
  border-radius: 12px;
  font-size: 20px;
}

.form-field-login {
  margin-left:auto; 
  margin-right:auto;
  margin-bottom: 2px;
  width: 50%;
  height: 30px;
  border: 1px solid #091333;
  background-color: #EBEBEB;
  border-radius: 12px;
  font-size: 20px;
}

.form-field-question {
  margin-left:auto; 
  margin-right:auto;
  margin-bottom: 2px;
  width: 99%;
  height: 100%;
  text-align: center;
  font-size: 40px;
  font-weight: 100;
  background-color: #EBEBEB;
  border: none;
}

.poll-container {
  max-width: 800px;
  margin-left:auto; 
  margin-right:auto;
}

.poll {
  width: 88%;
  text-align: center;
  margin-top: 30px;
  padding: 5px;
  border: 2px solid #091333;
  border-radius: 12px;
  float: left;
}

.updownvote {
  width: 8%;
  text-align: center;
  font-size: 45px;
  font-weight: 100;
  padding: 5px;
  height: 100%;
  float: right;
  margin-top: 15px;
  color: #091333;
}

.poll-footer {
  padding: 5px;
  vertical-align: middle;
  float: bottom;
}

.option {
  margin-left:auto; 
  margin-right:auto;
  margin-bottom: 2px;
  width: 100%;
  height: 100%;
  border: 1px solid #091333;
  border-radius: 12px;
  overflow: hidden;
  float: left;
}

.navbar {
  background-color: #091333;
  font-family: "Harabara";
  font-size: 40px;
  color: #EBEBEB;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
}

.navbar-brand {
  font-size: 45px;
  font-family: 'Harabara';
}

.btn {
  font-size: 40px;
  font-family: "Harabara";
  background-color: #091333;
  color: #EBEBEB;
  border-radius: 12px;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
}

.btn-navbar {
  font-size: 25px;
  background-color: #091333;
  color: #EBEBEB;
  border-radius: 10px;
  border: 1px solid; 
  padding: 5px;
  vertical-align: middle;
  margin-top: 10px;
}

.btn-navbar:hover {
  color: #FFFFFF;
}

.btn:hover {
  color: #FFFFFF;
}

.btn-sm {
  font-size: 30px;
  font-family: "Harabara";
  background-color: #091333;
  color: #EBEBEB;
  border-radius: 12px;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
}

.btn-sm:hover {
  color: #FFFFFF;
}

.btn-xs {
  font-size: 25px;
  font-family: "Harabara";
  background-color: #091333;
  color: #EBEBEB;
  border-radius: 10px;
  padding: 8px;
  margin-bottom: 10px;
  border: none;
}

.btn-xs:hover {
  color: #FFFFFF;
}

.btn-tag {
  font-size: 16px;
  font-family: "Harabara";
  background-color: #091333;
  color: #EBEBEB;
  border-radius: 8px;
  padding: 6px;
  margin-bottom: 10px;
  border: none;
}

.btn-tag:hover {
  color: #FFFFFF;
}

.col-12 {
    width: 100%;
  }

.col-11 {
  width: 91.66666667%;
}

.col-10 {
  width: 83.33333333%;
}

.col-9 {
  width: 75%;
}

.col-8 {
  width: 66.66666667%;
}

.col-7 {
  width: 58.33333333%;
}

.col-6 {
  width: 50%;
}

.col-5 {
  width: 41.66666667%;
}

.col-4 {
  width: 33.33333333%;
}

.col-3 {
  width: 25%;
}

.col-2 {
  width: 16.66666667%;
  text-align: left;
}

.col-1 {
  width: 8.33333333%;
}

.btn-pick {
  width: 14%;
  height: 100%;
  font-size: 50px;
  background-color: #091333;
  color: #EBEBEB;
  float: left;
}

.btn-pick:hover {
  color: #FFFFFF;
}

.btn-updownvote {
  color: #091333;
  font-size: 50px;
  font-family: "Helvetica Neue";
  font-weight: 100;
}

.option-result {
  width: 85%;
  float: right;
  font-size: 20px;
  text-align: left;
}


.progress {
  overflow: hidden;
  height: 25px;
  margin-top: 2px;
  background-color: #EBEBEB;
  border-radius: 5px;

}

.progress-bar {
  float: left;
  height: 100%;
  font-size: 20px;
  font-family: "Harabara";
  text-align: right;
  line-height: 25px;
  border-radius: 3px;
  color: #ffffff;
  background-color: #091333;

}

a.login-form-anchor{
  color: #000000;
}

.chosen{
  a{
    color: #6DDE2C;
  }
  .progress-bar{
    color: #091333;
    background-color: #6DDE2C;
  }
}

.voted-up .btn-updownvote-up{
  color: #6DDE2C;
}

.voted-down .btn-updownvote-down{
  color: #D44A35;
}

.poll .tags a{
  color: #EBEBEB;
}

.tags-select{
  margin-left:auto; 
  margin-right:auto;
  margin-bottom: 2px;
  width: 99%;
  font-size: 18px;
}

form label, .poll p{
  font-size: 15px;
}